
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared color */
.text-primary{
color: rgba(253, 110, 10, 1);
}
.dark-2{
  color: #474747;
}
.btn-primary{
  background-color: #FD6E0A;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.secendary-bg{
  background-color: #FFF8F3;
}
.section-title{
  font-size: 35px;
  font-weight: 700px;
  color: #181818;
}
.section-description{
  font-size: 18px;
  font-weight: 400px;
  color: #757575;
}

.text-center{
  text-align: center;
}
/* nav style */
.header{
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.name{
  font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50px 220px ;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
  
}
nav ul li a{
  text-decoration: none;
}
/* banner section */
.banner{
  display: flex;
  justify-content: space-between;
  
}
.banner-content{
  max-width: 580px;
  margin-left: 230px;
}
.banner-greetings{
font-style: SemiBold;
font-size: 45px;
font-weight: 600;
}
.banner-title{
font-style: Bold;
font-size: 85px;
font-weight: 700;
}
.banner-profile-pic{
  width: 500px;
}
/* main style  */
main{
  max-width: 1140px;
  margin: 0 auto;
}
/* about section  */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  margin-top: 130px;
  text-align: center;

}
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-description{
  font-weight: 600;
}
.skills{
  margin-top: 130px;
}

.skill-containar{
  display: flex;
  margin-top: 50px;
  gap: 24px;
}

.skill{
  padding: 30px;
  border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1); 
}

.resume-container{
  display: flex;
  margin-top: 113px;
}
.resume{
  margin-top: 130px;
}
.resume-btn{
   margin-top: 50px; 
}

footer{
  padding: 130px 230px;
  margin-top: 130px;
}
.footer-section{
  display: flex;
  gap: 100px;
}
footer input[type="text"], footer input[type="email"], footer textarea{
  /* Rectangle 16 */
width: 461px;
height: 64px;
border-radius: 5px;
background: rgba(255, 255, 255, 1);
margin-bottom: 24px;
display: block;
padding: 10px 20px;
}