
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
color: rgba(253, 110, 10, 1);



}
/* nav style */
nav{
    display: flex;
}